h1 Welcome to Quiz App!
br
p He're a quick overview of how you can use this app to create your own bundles for the the quiz app community.
 
p When you're ready to create your first bundle #{link_to 'head over to the new bundle page', new_bundle_path} 