// Place all the styles related to the bundles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';

.whiten {
  text: #fff;
}

.btn {
  a {
    color: #fff;
    text-decoration: none;  
  }
}

.brown {
  background-color: $brand-third;
  a {
    color: #fff;
    text-decoration: none; 
  }
  a.btn-default {
      color: $brand-primary;
  }
}

